.top{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.top-player img{
    width: 50%;
    margin-right: 30px;
}
.top-player{
    margin-top: 30px;
    display: flex;
    align-items: center;
}
@media (max-width:320px){
    .top{
        
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (min-width:321px){
    .top{
        
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width:600px){
    .top{
        
        grid-template-columns: repeat(3, 1fr);
    }
}